@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilo para os botões */
.mat-stroked-button {
  border-width: 2px;
  padding: 0 24px;
  height: 48px;
}

.mat-raised-button {
  padding: 0 24px;
  height: 48px;
  font-weight: 500;
}

/* Estilo para o input de CEP */
input[type="text"] {
  border-color: #e2e8f0;
  outline: none;
}

input[type="text"]:focus {
  border-color: #0d358b;
}

/* Estilo para o botão calcular frete */
button.bg-blue-600 {
  transition: background-color 0.3s;
}

button.bg-blue-600:hover {
  background-color: #0d358b;
}

/* Espaçamento entre os botões */
.flex.justify-between>* {
  margin: 0 8px;
}

.flex.justify-between>*:first-child {
  margin-left: 0;
}

.flex.justify-between>*:last-child {
  margin-right: 0;
}

.frete-option {
  transition: all 0.2s ease;
}

button:disabled {
  background-color: #ebebeb !important;
  color: #969696;
  cursor: not-allowed !important;
}

input[type="text"] {
  border: 1px solid #cacaca;
  outline: none;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  outline: none;
  border-color: #cacaca;
  box-shadow: none;
}

input[type="text"]::placeholder {
  color: #999;
}

.area-cep {
  padding-top: 20px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.opcoes-frete {
  min-width: 370px;
  overflow: hidden;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #cacaca;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

input[type="radio"]:checked {
  border-color: #0d358b;
}

input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0d358b;
}

.frete-option:hover {
  input[type="radio"] {
    border: 2px solid #0d358b;
  }

  background-color: rgba(13, 53, 139, 0.05);
  transition: all 0.2s ease;
}

/* Espaçamento entre o radio button e o texto */
.frete-option {
  display: flex;
  align-items: center;
  border-radius: 6px;
  will-change: transform, opacity;
  /* Otimização de performance */
  transition: all 0.2s ease;
}

.btn-delete {
  transition: all 0.3s ease;
}

.btn-delete:hover {
  color: #f80000;
  transform: scale(1.1);
}

.btn-calcular {
  color: white;
  padding: 9px 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.3s ease;
  background-color: #0d358b;
}

.btn-calcular:hover {
  background-color: #1548b6;
}

.btn-cupom {
  color: white;
  padding: 0 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: all 0.3s ease;
  background-color: #0d358b;
}

.btn-cupom:hover {
  background-color: #1548b6;
}

/* Estilo para os botões de quantidade */
.btns {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  border-radius: 0;
  justify-content: center;
  align-content: center;
  color: #494949;
  border: 1px solid #e2e8f0;
}

.btns:hover {
  color: #1548b6;
}

.nome-produto {
  transition: all 0.2s ease;
}

.nome-produto:hover {
  color: #666;
}

.img-produto {
  transition: all 0.2s ease;
}

.img-produto:hover {
  opacity: 0.7;
}

.quantidade-input {
  width: 50px;
  padding: 7px 0;
  text-align: center;
  border: 1px solid #e2e8f0;
  font-size: 16px;
  outline: none;
}

.quantidade-input:focus {
  border-color: #e2e8f0;
}

.quantidade-input::-webkit-inner-spin-button,
.quantidade-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantidade-input[type="number"] {
  -moz-appearance: textfield;
}

/* Animação para mensagens de erro */
.fade-in-out {
  transition: all 0.3s ease;
}

/* Estilo para a mensagem de estoque */
.estoque-mensagem {
  overflow: hidden;
  transition: all 0.3s ease;
}

/* Estilo para o valor do frete */
.frete-valor {
  transition: all 0.3s ease;
  transform-origin: top;
}

.btn-finalizar {
  background-color: #0d358b;
  padding: 0 50px;
  border-radius: 7px;
  color: #fff;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-finalizar:hover {
  background-color: #1548b6;
  transform: scale(1.02);
  box-shadow: 0 0px 10px hsl(221, 76%, 48%, 0.2);
}

.btn-continuar {
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-continuar:hover {
  background-color: #e6e6e6;
  opacity: 0.7;
}

.area-cupom {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
}

.area-cupom input {
  width: 100%;
  outline: none;
  transition: border-color 0.3s;
}

.btn-close-cupom {
  color: rgb(119, 119, 119);
  transition: all 0.2s ease;
}

.btn-close-cupom:hover {
  color: rgb(66, 66, 66);
}