<app-header></app-header>
<!-- Carrossel de Destaques -->
<div class="carrossel-destaques">
    <div class="carrossel-container">
        <ngx-slick-carousel [config]="myConfig">
            <div ngxSlickItem *ngFor="let i of myImages">
                <img [src]="i.src" alt="" class="myImg" />
            </div>
        </ngx-slick-carousel>
    </div>
</div>
<!-- Seção de Lançamentos -->
<div class="secao-lancamentos">
    <h2 class="titulo-secao">LANÇAMENTOS</h2>
    <app-grid-produtos [produtosInput]="produtos"></app-grid-produtos>
</div>
<app-footer></app-footer>