@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.carrossel-container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.myImg {
    width: 100%;
    object-fit: cover;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}

.cards-condicoes {
    display: flex;
    margin-top: -20px;
    margin-bottom: 40px;
    justify-content: space-between;
    padding: 0 30px;

    div {
        display: flex;
        align-items: center;
        line-height: 22px;
        gap: 20px;

        i {
            font-size: 24px;
            color: #0d358b;
        }

        strong {
            font-weight: 700;
        }
    }
}

::ng-deep .slick-prev-custom,
::ng-deep .slick-next-custom {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #ffffffab;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

::ng-deep .slick-prev-custom {
    left: 10px;
}

::ng-deep .slick-next-custom {
    right: 10px;
}

::ng-deep .slick-prev-custom,
::ng-deep .slick-next-custom {
    opacity: 0;
    transition: all 0.3s ease;
}

.carrossel-produtos:hover ::ng-deep .slick-prev-custom,
.carrossel-produtos:hover ::ng-deep .slick-next-custom {
    opacity: 1;
}

.carrossel-container:hover ::ng-deep .slick-prev-custom,
.carrossel-container:hover ::ng-deep .slick-next-custom {
    opacity: 1;
}

.carrossel-produtos ::ng-deep .slick-prev-custom:hover,
.carrossel-produtos ::ng-deep .slick-next-custom:hover,
.carrossel-container ::ng-deep .slick-prev-custom:hover,
.carrossel-container ::ng-deep .slick-next-custom:hover {
    background-color: #0d358b !important;
}

.carrossel-produtos ::ng-deep .slick-prev-custom {
    left: -20px;
}

.carrossel-produtos ::ng-deep .slick-next-custom {
    right: -5px;
}

::ng-deep .slick-prev-custom i,
::ng-deep .slick-next-custom i {
    color: #fff;
}


::ng-deep .slick-dots {
    bottom: 15px;
}

::ng-deep .slick-dots li button:before {
    color: rgb(119, 119, 119);
    font-size: 12px;
}

::ng-deep .slick-dots li.slick-active button:before {
    color: #0d358b;
}

.carrossel-mais-vendidos {
    padding: 20px 0;
}

.carrossel-mais-vendidos .card-produto {
    margin: 0 10px;
}

.carrossel-container .card-produto {
    width: auto;
    height: auto;
    min-width: 200px;
}