@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.product-detail-container {
  display: flex;
  max-width: 1200px;
  margin: 2rem auto;
  margin-bottom: -30px;
  padding: 0 1rem;
  gap: 2rem;
}

.product-header {
  p {
    display: flex;
    align-content: center;

    i {
      font-size: 10px;
      padding: 0 6px;
      align-content: center;
    }
  }
}

.main-image {
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}

.image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-image {
  transition: transform 0.3s ease;
  transform-origin: center center;
  width: 100%;
  height: auto;
  display: block;
}

.zoom-instruction {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #666;
}

.zoom-instruction i {
  font-size: 12px;
  margin-right: 8px;
}

.product-images {
  flex: 1;
  display: grid;
  justify-content: center;
  max-height: 540px;
}

.main-image:hover .product-image {
  transform: scale(1.5);
}

.product-info {
  flex: 1;
}

.product-image {
  padding-top: 20px;
  height: 500px;
  width: 500px;
  object-fit: contain;
  border-radius: 8px;
}

.image-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  background: #e6e6e6;
  border-radius: 8px;
  color: #666;
}

.image-placeholder mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
  margin-bottom: 1rem;
}

.product-title {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 10px;
  color: #333;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal-image {
  max-height: 80vh;
  max-width: 90vw;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.close-button {
  position: absolute;
  top: -40px;
  right: -10px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
}

.close-button mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.add-to-cart-btn {
  margin-top: 10px;
  height: 60px;
  border-radius: 7px;
  padding: 35px 0px;
  background-color: #0d358b;
  font: 600 22px Libre Franklin, sans-serif;
  width: 100%;
  transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #1446b3;
  transform: scale(1.02);
  box-shadow: 0 0px 10px hsl(221, 76%, 48%, 0.5);
}

.product-accordion {
  margin-top: 2rem;
  margin-bottom: 100px;
}

.product-detail-description {
  margin-top: 100px;
}

.lista-pedidos {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: start;
  margin-top: -10px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

.lista-pedidos-icon {
  transition: all 0.3s ease;
  cursor: pointer;
}

.lista-pedidos:hover {
  .lista-pedidos-icon {
    transform: scale(1.1);
  }
}

input::placeholder {
  color: #999;
}

input:focus {
  outline: none;
  border-color: #cacaca;
  box-shadow: none;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.descricao {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid hsl(0, 0%, 0%, 0.15);

  h2 {
    margin-bottom: 15px;
    font: 600 20px Libre Franklin, sans-serif;
  }

  p {
    color: #666;
  }
}

.especificacoes-produto {
  margin-bottom: 100px;

  h2 {
    margin-bottom: 15px;
    font: 600 20px Libre Franklin, sans-serif;
  }
}


.meta-item {
  display: flex;
  margin-bottom: 5px;
}

.meta-label {
  font-weight: 600;
  min-width: 150px;
  color: #444;
}

.meta-value {
  color: #666;
}

.cep-status {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  font-size: 13px;
}

.cep-status.valid {
  color: green;
}

.cep-status.invalid {
  color: #d32f2f;
}

.input-with-icon {
  position: relative;
}

.input-with-icon mat-icon,
.input-with-icon mat-spinner {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.opcao-frete {
  text-align: left;
}

.opcao-frete li {
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 12px;
  border-bottom: 1px solid #ddd;
}

.opcao-frete:last-child li {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.btn-calcular-frete {
  background-color: #666;
  cursor: pointer;
  width: 40%;
  font-weight: 500;
  border-radius: 7px;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-calcular-frete:hover {
  background-color: #7e7e7e;
}



@media (max-width: 768px) {
  .product-detail-container {
    flex-direction: column;
  }
}