<footer class="footer">
    <div class="footer-top-container">
        <div class="footer-top">
            <h4 style="color: #fff; font-size: 18px; font-weight: 600;">Receba promoções especiais por e-mail</h4>
            <div>
                <input type="text" placeholder="Digite seu e-mail" /><button class="btn-enviar">Enviar</button>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <!-- Conteúdo principal do footer -->
        <div class="footer-content">
            <!-- Lado esquerdo -->
            <div class="footer-left">
                <img src="/assets/logo-gameverse-branca.png" alt="Logo Studio19" class="footer-logo" />
                <p class="footer-phrase">Conectamos jogadores ao melhor do universo gamer, oferecendo jogos, acessórios
                    e experiências únicas para todos os consoles.</p>
                <div class="footer-socials">
                    <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
            <!-- meio -->
            <div class="footer-right">
                <h3 class="footer-menu-title">Categorias</h3>
                <ul class="footer-menu">
                    <li><a routerLink="/gameverse/produto/plataforma/ps4">PS4</a></li>
                    <li><a routerLink="/gameverse/produto/plataforma/ps5">PS5</a></li>
                    <li><a routerLink="/gameverse/produto/plataforma/xboxone">Xbox One</a></li>
                    <li><a routerLink="/gameverse/produto/plataforma/xboxseries">Xbox Series</a></li>
                    <li><a routerLink="/gameverse/produto/plataforma/nintendo">Nintendo</a></li>
                </ul>
            </div>
            <!-- lado direito -->
            <div class="footer-atendimento">
                <h3 class="footer-menu-title">Atendimento</h3>
                <div>
                    <h2><i class="fa-brands fa-whatsapp"></i>Whatsapp</h2>
                    <p>(63) 98400-0000</p>
                </div>
                <div>
                    <h2><i class="fa-solid fa-envelope"></i>E-mail</h2>
                    <p>{{ 'contato@gameverse.com.br' }}</p>
                </div>
                <div class="footer-horarios">
                    <h2><i class="fa-solid fa-clock"></i>Horário de Atendimento</h2>
                    <p>Seg. à Sexta, das 08h às 17h</p>
                    <p>Sábado, das 08h às 12h</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-container">
        <div class="footer-bottom">
            <p>Joana Letícia - Tópicos 2</p>
            <p>Copyright © 2025 GAMEVERSE.</p>
        </div>
    </div>
</footer>