<footer class="footer">
    <div class="footer-container">
        <!-- Conteúdo principal do footer -->
        <div class="footer-content">
            <!-- Lado esquerdo -->
            <div class="footer-left">
                <img src="/assets/logo-gameverse-branca.png" alt="Logo Studio19" class="footer-logo" />
                <p class="footer-phrase">Conectamos jogadores ao melhor do universo gamer, oferecendo jogos, acessórios
                    e experiências únicas para todos os consoles.</p>
                <div class="footer-socials">
                    <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="#" class="social-icon"><i class="fa-brands fa-discord"></i></a>
                </div>
            </div>
            <!-- Lado direito -->
            <div class="footer-right">
                <h3 class="footer-menu-title">Categorias</h3>
                <ul class="footer-menu">
                    <li><a routerLink="/gameverse/produto/plataforma/ps4">PS4</a></li>
                    <li><a routerLink="/gameverse/produto/plataforma/ps5">PS5</a></li>
                    <li><a routerLink="/gameverse/produto/plataforma/xboxone">Xbox One</a></li>
                    <li><a routerLink="/gameverse/produto/plataforma/xboxseries">Xbox Series</a></li>
                    <li><a routerLink="/gameverse/produto/plataforma/nintendo">Nintendo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer inferior -->
    <div class="footer-bottom-container">
        <div class="footer-bottom">
            <p>Joana Letícia - Tópicos 2</p>
            <p>Copyright © 2025 GAMEVERSE.</p>
        </div>
    </div>
</footer>