/* plataforma.component.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
}

.plataforma-title {
  color: #0d358b;
  text-align: start;
  font: 600 24px Libre Franklin, sans-serif;
  margin: 0;
  margin-bottom: 10px;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

mat-paginator {
  margin-top: 20px;
  background: #f5f5f5;
  border-radius: 4px;
}